#root{
    background-image: url("https://thumbs.dreamstime.com/b/infographics-digital-economy-professional-background-business-high-quality-illustration-305318003.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}